  <!DOCTYPE html>
  <html>
  <head>
  <title>Todos</title>
  <style>
  li.completed {
    color: gray;
  }
li form { display: inline; }
  </style>
  </head>
<body>
<div id="main">
  <ol>
  <form action="/api/todos" method="POST">
  <input type="text" name="task" placeholder="New Todo" required>
  <input type="submit" value="Add">
  </form>
    <% todos.forEach((todo) => { %>
        <li class="<%= todo.is_completed ? 'completed' : '' %>">
            <% if (!todo.is_completed) { %>
                <form action="/api/todos/<%= todo.id %>/complete" method="POST">
                    <button>X</button>
                </form>
            <% } %>
            <%= todo.task %>
        </li>
    <% }); %>
  </ol>
  </div>
</body>
</html>
